@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: none;
}

:root{
    --white: #F5F5F5;
    --light-orange: #E69E4C;
    --dark-orange: #B84900;
    --dark-gray: #1C1F22;
    --black: #100407;

    --blue: #348CC3;
    --navy: #043C5C;
    --med-orange: #D98410;
    --gray: #AAAAAA;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  overflow: none;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: clamp(3rem, 5vw, 7rem);
  margin: 0;
  font-weight: 500;
}
