/* Hero Section */
.hero h1{
    font-size: clamp(1.5rem, 3.5vw, 4rem);
}

.hero h4{
    margin-bottom: 2vh;
}.insurance-section {
    font-family: 'Inter', sans-serif;
    background-color: #fff;


}

.dif-badge {
    display: inline-block;
    border: 2px solid var(--dark-orange);
    color: var(--dark-orange);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.25rem 1rem;
    margin-top: 2rem;
    border-radius: 999px;
    margin-left: 2rem;
    margin-bottom: 1.5rem;

}



/* Coverage Info */
.coverage-section {
  background-color: #fff;
  padding: 5vh 5vw;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  text-align: center;
}

.coverage-heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 2.25vw, 2.5rem);
  margin: 0rem 0 2rem;
}

.coverage-list {
  list-style: none;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.coverage-list li {
  font-size: clamp(0.75rem, 1vw, 1.25rem);
  line-height: 1.6;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
}

.coverage-list li i {
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 1.3rem;
}

.coverage-list i.fa-check {
  color: var(--dark-orange);
}

.coverage-list.not-covered {
  margin-top: 1rem;
}

.coverage-list.not-covered i.fa-xmark {
  color: var(--dark-orange);
}

/*considerations*/
.components-section {
  background-color: var(--cream);
  padding: 4vh 5vw;
  padding-bottom: 12vh;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: var(--black);
}

.components-heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 2.25vw, 2.5rem);
  margin: 0rem 0 2rem;
}

.components-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.component-tile {
  border: 2px solid var(--dark-orange);
  border-radius: 8px;
  padding: 1rem 1rem;
  width: 360px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
}

.component-icon {
  font-size: 2.5rem;
  color: var(--dark-gray);
}

.component-tile h3 {
  font-weight: bold;
  font-size: clamp(1rem, 1.75vw, 1.75rem);
  margin-top: 0.5vh;
}

.component-tile img {
  width: 25%;
  margin: 0px;
}

.component-tile p {
  font-size: clamp(0.75rem, 1vw, 1.25rem);
  line-height: 1.5;
}

/*Why Choose Us*/
.why-choose {
  background-color: var(--black); 
  padding: 2rem;
  color: #fff;
}

.why-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.why-image {
  flex: 1 1 350px;
  max-width: 450px;
}

.why-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid var(--dark-orange); 
}

.why-text {
  flex: 1 1 350px;
  max-width: 500px;
}

.why-text h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.why-text p {
  line-height: 1.6;
  font-size: 0.7rem;
}